.page-template-page-007 .footer .sub-footer {
  border-top: 0;
}

.page-template-page-007 .footer .sub-footer {
  max-width: 1084px;
}
.page-template-page-007 .footer .sub-footer .fr {
  font-size: 14px;
}
.page-template-page-007 .footer .sub-footer #teconsent {
  padding-top: 0;
}
.page-template-page-007 .footer .sub-footer .copyright .copyright-text {
  font-size: 14px;
  padding-right: 1rem;
}
.page-template-page-007
  .footer
  .sub-footer
  .menu-footer-sub-footer-container
  > ul
  > li
  > a {
  padding: 0 1rem;
}
