$color-lightblue: #109fff;
$color-mediumblue: #3398dc;
$color-darkblue: #0073aa;
$color-bolderblue: #02c9e5;
$color-lightnavy: #6262e5;
$color-darknavy: #151552;
$color-magenta: #eb266d;
$color-orange: #ff4e33;
$color-black: #000843;
$color-white: #ffffff;
$color-bgMediumblue: #12a0fe;
$color-bglLghtblue: #56c9e8;
$color-paleblue: #78d8ff;
$color-lightorange: #ff8447;
$color-mediumgray: #cdcdcd;
$color-gray: #666;
$color-lightgray: #f6f6f6;
$color-bolderpaleblue: rgb(179, 208, 216);
$color-darkpurple: #14012b;
$color-lightpurple: #9b58ea;
$color-mediumpurple: #6e0bdc;
$color-red: #ff0000; // Use for Error messages and Error selectors
$color-green: #427f11; // Use for valid messages and success icon
$color-darkgray: #777;
$color-lightestblue: #f0f6ff;
