$color-lightblue: #109fff;
$color-mediumblue: #3398DC;
$color-darkblue: #0073aa;
$color-bolderblue: #02C9E5;
$color-darknavy: #151552;
$color-magenta: #eb266d;
$color-orange: #ff4e33;
$color-black: #000843;
$color-white: #ffffff;
$color-bgMediumblue: #12A0FE;
$color-bglLghtblue: #56C9E8;
$color-paleblue: #78d8ff;
$color-lightorange:#ff8447;
$color-mediumgray:#cdcdcd;
$color-gray:#666;
$color-lightgray:#f6f6f6;
$color-bolderpaleblue: rgb(179, 208, 216);