$color-lightblue: #109fff;
$color-mediumblue: #3398DC;
$color-darkblue: #0073aa;
$color-bolderblue: #02C9E5;
$color-darknavy: #0A007F;
$color-magenta: #eb266d;
$color-orange: #ff4e33;
$color-black: #000843;
$color-white: #ffffff;
$color-bgMediumblue: #12A0FE;
$color-bglLghtblue: #56C9E8;
